<div class="content">

  <div style="margin-bottom: 100px;" class="offset-4 col-md-4">
    <form>
      <div class="form-group">
        <label>Emails separate by ';'</label>
        <input type="text" [(ngModel)]="emails" name="emails" class="form-control"/>
      </div>
      <div class="form-group">
        <label>Temperature config</label>
        <input type="number" [(ngModel)]="temperature" name="temperature" class="form-control"/>
      </div>
      <button class="btn btn-primary" (click)="postData()" style="float: right;margin-bottom: 20px;">Config</button>
    </form>
  </div>
</div>

<div class="box-content"> 
  
 
<div >
  <table  class="table" style="text-align: center;">
    <thead >
    <tr style="background:rgb(250, 250, 250); color: black " class="d-flex">      
      <th scope="col" class="col-md-6">Email</th>
      <th scope="col" class="col-md-6">Max temperature</th>
    </tr>
    </thead>
  <tbody>
    <tr *ngFor="let item of data"  class="d-flex">      
      <td scope="row" class="col-md-6">{{item.email}}</td>
      <td scope="row" class="col-md-6">{{item.temperature.temperature}}</td>
    </tr>
  </tbody>
  </table>


  </div>
  
</div>


  
    
  

 
     
        
     


