body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh !important;
    color: black !important;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
  
  }
  #login-row #login-column #login-box {
    margin-top: 40px;
    max-width: 600px;   
    color: black;
   
  }
  .container #login-row #login-column #login-box #login-form {
    padding: 20px;color: black;
  }
  .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;   color: black; 
  }
 
  .text-info{
    color: black !important;
  }
  #login{
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgb(215, 238, 253);
    height: 969px;
  }
  .logo{
    text-align: center;
    font-size: 15px !important;
    margin-top: 80px;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    
  }
 